#sidebar {
    background-color: white;
    border-radius: 30px;
    width: 180px;
    height: 100vh;
}

#sidebar h3 {
    color: black;
}


a {
    color: black;
    text-decoration: none;
}

.option {
    text-align: center;
    width: 150px;
    margin: auto;
}

.option:hover {
    color: whitesmoke;
    border-radius: 10px;
    background-color: lightblue;
}