#sidebar {
    background-color: #212422;
    position: absolute;
    height: 100vh;
}

#sidebar h3 {
    color: black;
}


a {
    color: black;
    text-decoration: none;
}

.option {
    text-align: center;
    width: 200px;
    margin: auto;
}

.option:hover {
    color: whitesmoke;
    border-radius: 10px;
    background-color: #b5b19e;
}